@import "./variables.scss";

.title {
  font-weight: 400;
  margin-bottom: 1.875rem;
}

#form-client {
  max-width: 580px;
  width: 100%;

  .zip_code {
    flex: 1;
  }

  .complement,
  .district,
  .state,
  .city {
    flex: 1;
  }

  textarea.input {
    resize: none;
  }

  @keyframes show-line-radio {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .line-radio {
    display: none;
    opacity: 0;
    transform: translateY(-30px);

    &.show {
      display: block;
      animation: show-line-radio 0.3s forwards;
    }
  }

  .box-inputs {
    background-color: #eeeeef82;
    padding: 0.8rem;
    border-radius: 0.35rem;
    margin-bottom: 1rem;
  }

  .btn-client {
    width: 100%;
  }
}

@media (max-width: 760px) {
  #form-client {
    .zip_code {
      flex: initial;
    }
  }
}
